.profile {
	display: grid;
	border: 1px solid #757575;
	border-radius: 1%;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.avatar {
	display: flex;
	align-items: center;
	border: 1px solid #757575;
	border-radius: 50%;
	padding-top: 5px;
}

.description {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 30px;
	background-color: #fff;
}

.name,
.tag,
.location {
	margin: 0;
	margin-top: 15px;
	font-size: 12px;
	line-height: 16px;
}

.name {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
}
.tag,
.location {
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: grey;
}

.stats {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 0;
	background-color: rgba(223, 223, 223, 0.932);
}

.stats li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
	padding: 5px;
	border: 1px solid #757575;

	font-size: 12px;
	line-height: 16px;
}

.label {
	color: gray;
	font-weight: 400;
	font-size: 14px;
	line-height: 30px;
}

.quantity {
	color: black;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 1px;
}
