.table {
	padding: 20px;
}

.title {
	background-color: rgba(0, 119, 255, 0.795);
	border: 1px solid rgba(0, 68, 255, 0.795);
	outline: none;
	color: white;
	font-weight: 700;
	line-height: 14px;
	font-size: 18px;
}

.titleItem {
	height: 50px;
}

.item {
	height: 50px;
}

.item:nth-child(even) {
	background-color: rgba(216, 216, 216, 0.986);
}

.td {
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	text-transform: capitalize;
	color: gray;
	outline: 1px solid grey;
}
